<div class="modal-dialog" role="document">
    <form action="{% url 'login' %}" method="post" id="login-form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group mb-4">
                    {% for field in form %}
                        <div class="input-group mt-2 mb-2">
                            <div class="d-flex flex-column col-md-12">
                                <label class="control-label">
                                    {{field.name|title}}
                                </label>
                                <input class="form-control" id="{{ field.id_for_label }}" maxlength="32" name="{{ field.html_name }}" type="{{field.field.widget.input_type}}" /> 
                            </div>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4" value="login">Login</button>
            </div>
        </div>
    </form>
</div>