{% extends "chat/base.html" %}
{% load static %}

{% block site_head %}
<style>
    textarea {
        resize: none;
    }
</style>
{% endblock site_head %}

{% block content %}
    <div class="col-md-12" id="content">
        <div class="row">
            {% include "chat/navbar.html" %}
        </div>

        <div class="container">
            <div class="mt-4"></div>
            <form action="{% url 'index' %}g/{{post.topic}}/{{post.id}}/edit/" method="post" class="px-5">
                {% csrf_token %}
    
                <div class="row">
                    <div class="form-group w-100 px-3">
                        <div class="input-group input-group-lg">
                            <input class="form-control" id="title" name="title" placeholder="Post Title" type="text" value="{{post.title}}">
                        </div>
                    </div>
                </div>
    
                <div class="row mb-4 mt-1">
                    <div class="form-group col-md-3">
                        <input id="topic" name="topic" class="form-control" disabled value="Topic: {{post.topic}}"/>
                    </div>
    
                    <div class="input-group col-md-9">
                        <input class="form-control" id="url" name="url" placeholder="Enter a URL (https://www.example.com)" value="{{post.url}}">
                    </div>
                </div>
                
                <div class="row my-1 px-4">
                    <h6>Body</h6>
                </div>
    
                <div class="row mb-4">
                    <div class="input-group">
                        <textarea class="form-control" rows="14" aria-label="Content" id="text" name="text" placeholder="Type your Message Here" required>{{post.text}}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary my-4">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    $('.dropdown-item').click(function() {
        $('#topicDropdown').text(this.text);
    });
</script>
{% endblock js %}