container_commands:
  01_migrate:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py makemigrations'
    command: 'source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput'
  02_copy_supervisord_conf:
    command: "cp .ebextensions/supervisord/supervisord.conf /opt/python/etc/supervisord.conf"
  03_reload_supervisord:
    command: "supervisorctl -c /opt/python/etc/supervisord.conf reload"
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: chatroom/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: all_static/