{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Gray Tale</title>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/chatbox-gt.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    {% block site_head %}
    {% endblock site_head %}
</head>

<body>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            
        </div>
    </div>
    <div class="gt-body container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
</body>

{% block js %}
{% endblock js %}