<script>

    function sendMessage() {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;

        if (message.trim().length == 0) {
            return;
        }

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': '{{user}}',
            'currentRoomName': '{{room_name}}',
        }));

        messageInputDom.value = '';
    }

    function sendAdminNotifications(room_name) {
        url = '/sendpush/'
        console.log(url);
        $.ajax({
            url: url,
            method: 'post',
            data: {
                room_name: room_name,
            }
        }).done(function(response) {
            console.log(response);
        });
    }

    function scrollBottom() {
        var objDiv = document.getElementById("chat-log-div");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    function createChatLine(m,username,profile_pic) {
        var chatline_div = $('<div/>', {
            class : 'chat-line row',
        }).appendTo($('#chat-log-div'));

        var chatline_wrapper = $('<div/>', {
            class: 'col-md-12',
        }).appendTo(chatline_div);

        var chatline_plink = $('<a/>', {
            class: "profile-link text-white",
            href: "/user/"+username,
        }).appendTo(chatline_wrapper);

        var chatline_pp = profile_pic ? $('<img>', {
            class: 'profile-icon',
            src: profile_pic,
        }).appendTo(chatline_plink) : $('<i class="fas fa-user profile-icon text-white"></i>').appendTo(chatline_plink);
        chatline_wrapper.append(" ")

        var chatline_user = $('<a/>', {
            href: '{% url "index" %}user/'+username,
            class: 'graytale-link msg-user',
        }).appendTo(chatline_wrapper);

        var chatline_sep = $('<span/>', {
            class: 'msg-sep px-1',
        }).appendTo(chatline_wrapper);

        var chatline_txt = $('<span/>',{
            class: 'msg-text'
        }).appendTo(chatline_wrapper);

        chatline_user.text(username);
        chatline_sep.text(':');
        chatline_txt.html(urlize(m));

        scrollBottom();
    }

    function refreshNotifications(response) {
        var notifications = response.notifications;
        
        $('.notification-badge').addClass('hidden');

        notifications.forEach(function(notification) {
            if (notification.actor != parseInt('{{user.id}}')) {
                var topic = notification.topic
                $('#notification-badge-' + topic).removeClass('hidden');
            }

            var comment_button = $('#post-'+notification.post).find('.post-comment-button');
            comment_button.removeClass('text-white');
            comment_button.addClass('text-danger');
        });
    }

    function removeTopicNotification() {
        $.ajax({
            url: '/notifications/',
            method: 'post',
            data: {
                csrfmiddlewaretoken: Cookies.get('csrftoken'),
                topic : '{{room_name}}',
                {% if post %}
                post_id: parseInt('{{post_id}}'),
                {% else %}
                {% endif %}
            }
        }).done(function(response) {
            refreshNotifications(response);
        });
    }

    /* --------------------------------------------------------------------- */

    scrollBottom();
    
    /*$.ajax({
        url: '/notifications/',
        method: 'get',
    }).done(function(response) {
        refreshNotifications(response);
    });*/

    // removeTopicNotification();

    var roomName = {{ room_name_json }};

    {% if post %}
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + roomName + '/{{post_id}}/');
    {% else %}
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + roomName + '/');
    {% endif %}

    chatSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);

        switch (data['type']) {
            case 'chat_message':
            var message = data['message'];
            var username = data['username'];
            var profile_pic = data['profile_pic'];

            createChatLine(message,username,profile_pic);
            break;
            case 'notification':
            
            /*if ('{{room_name}}' != data['room_name']) {
                $('#notification-badge-'+data['room_name']).removeClass('hidden');
            }*/

            // sendAdminNotifications(data['room_name']);

            $.ajax({
            url: '/notifications/',
            method: 'get',
            }).done(function(response) {
                refreshNotifications(response);
            });

            break;
            default:
            break;
        }

    };

    $('#chat-log-window').mousedown(function() {
        removeTopicNotification();
    })

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            sendMessage();
            removeTopicNotification();
        }
    };

    $(window).resize(function(){
        scrollBottom();
    });

</script>