{% load webpush_notifications %}
<nav id="graytale-navbar" class="navbar navbar-expand-lg navbar-dark flew-grow-1 sticky-top nav-fill w-100">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand mr-auto ml-3" href="{% url 'index' %}">Gray Tale</a>
        </li>
        <span id="navbar-spacer" class="ml-2"></span>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{room_name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'index' %}">graytale</a>
                {% for sub in subscriptions %}
                <a class="dropdown-item" href="{% url 'index' %}g/{{sub.name}}">{{sub.name}}</a>
                {% endfor %}
                {% if user.is_authenticated %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'create' %}">Create a post</a>
                {% endif %}
            </div>
        </li>

        {% if user.is_authenticated and room_name != 'graytale' %}
        <li class="nav-item my-auto">
            {% if subscribable %}
            <button id="sub-button" class="btn btn-primary {% if not subscribed %}not-subbed{% else %}subbed{% endif %}" onclick="subscribe('/g/{{room_name}}/')">
                {% if not subscribed %}
                Subscribe
                {% else %}
                Unsubscribe
                {% endif %}
            </button>
            {% endif %}
        </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item my-auto mx-2">
            <span>Hi, <a href="{% url 'index' %}user/{{user}}" class="graytale-link">{{ user }}</a>!</span>
        </li>
        <li class="nav-item my-auto">
            <a href="{% url 'index' %}user/{{user}}" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#modal" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#modal" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>