<!-- chat/templates/chat/room.html -->

{% extends "chat/base.html" %}
{% load static %}

{% block site_head %}
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <link rel="stylesheet" href="{% static 'css/chatbox.css' %}">
{% endblock site_head %}

{% block content %}
        <!--<textarea id="chat-log" cols="100" rows="1"></textarea><br/>-->
        <div class="row flex-fill">
            <div class="posts col-md-6">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="navbar-brand mr-auto" href="{% url 'index' %}">Gray Tale</a>
                        </li>
                        <span id="navbar-spacer" class="ml-2"></span>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{room_name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'index' %}">graytale</a>
                                <a class="dropdown-item" href="{% url 'index' %}g/pc-building/">pc-building</a>
                                <a class="dropdown-item" href="{% url 'index' %}g/gaming/">gaming</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'create' %}">Create a post</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item my-auto">
                            <span>Hi, {{ user }}!</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#modal" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#modal" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <div id="posts-window" class="row posts-wrapper">
                    <div class="col-md-12 px-4 pt-4 posts-header">
                        <h5><a class="text-dark" href="{{post.url}}">{{post.title}}</a></h5>
                        <p>Submitted by {{post.username}}</p>
                    </div>
                    <div class="col-md-12 posts-text pre-scrollable h-100 px-5 py-3">
                        {{post.text}}
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="chat-log">
                <div id="chat-log-window" class="chat-log-wrapper pre-scrollable">
                    <div class="row" id="chat-log-div">
                    {% for msg in chat_history %}
                        <div class="chat-line col-md-11">
                            <span class="msg-text">{{msg.username}}: {{msg.message_text}}</span>
                            <!--<span class="msg-date-time float-right">{{msg.year}}-{{msg.month}}-{{msg.day}} {{msg.hour}}:{{msg.minute}}:{{msg.second}}</span>-->
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="chat-input-wrapper">
                    <div class="row">
                        {% if user.is_authenticated %}
                        <input id="chat-message-input" class="form-control col-md-12" type="text" placeholder="Press 'Enter' to send a message"/>
                        <!--<input class="col-md-1 btn btn-primary col-md-3" id="chat-message-submit" type="button" value="Send"/>-->
                        {% else %}
                        <input id="chat-message-input" class="form-control col-md-12" type="text" size="2000" placeholder="Please log in to join the chat." disabled/>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

{% block js %}
<script>

    $('#modal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var button = $(event.relatedTarget)
        var url = button.attr('href');
        $.ajax({
            url: url,
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })

    function sendMessage() {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;

        if (message.trim().length == 0) {
            return;
        }

        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    }

    function scrollBottom() {
        var objDiv = document.getElementById("chat-log-window");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    function createChatLine(m) {
        var chatline_div = $('<div/>', {
            class : 'chat-line col-md-12',
        }).appendTo($('#chat-log-div'));

        var chatline_txt = $('<span/>',{
            class: 'msg-text'
        }).appendTo(chatline_div);

        chatline_txt.text('{{user}}: ' + m);

        scrollBottom();
    }

    scrollBottom();

    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + roomName + '/' + {{id}});

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        // document.querySelector('#chat-log').value += (message + '\n');

        createChatLine(message);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            sendMessage();
        }
    };

    /* document.querySelector('#chat-message-submit').onclick = function(e) {
        sendMessage();
    }; */
</script>
{% endblock js %}