<!-- chat/templates/chat/room.html -->

{% extends "chat/base.html" %}
{% load static %}
{% load generaltags %}

{% block site_head %}
    <script src="http://malsup.github.io/jquery.form.js"></script>
    <script src="{% static 'js/chatbox-gt.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chatbox.css' %}">
{% endblock site_head %}

{% block content %}
            <div class="col-md-12" id="content">
                <div class="row">
                    {% include "chat/navbar.html" %}
                </div>
                <div class="row">
                    <div class="posts col-md-8">
                        <div id="posts-window" class="grid invisible">
                            {% for post_notification,post in posts %}
                            <div class="grid-item {% if post.metaimage %}image-post{% else %}text-post{% endif %}">
                                <div class="grid-item-content-wrapper m-2">
                                    {% if post.metaimage %} <!-- If image post -->
                                    <div class="grid-item-overlay top w-100">
                                        <div class="px-4 pt-2">{{post.title}}</div>
                                    </div>
                                    <div class="grid-item-overlay bottom w-100 pl-4 pr-5 pb-1">
                                        <div class="w-100">
                                            Submitted by <a class="graytale-link" href="{% url 'index' %}user/{{post.user}}">{{post.user}}</a> to <a class="graytale-link post-topic" href="{% url 'index' %}g/{{post.topic}}">{{post.topic}}</a>
                                            <div class="float-right">
                                                <a class="{% if post_notification %}text-danger{% else %}text-white{% endif %}" href="{% url 'index' %}g/{{post.topic}}/{{post.id}}/"><i class="my-auto fas fa-comments"></i></a>
                                                {% if post.user == user %}
                                                <a class="text-white" href="{% url 'index' %}g/{{post.topic}}/{{post.id}}/edit"><i class="my-auto far fa-edit"></i></a>
                                                <a data-toggle="modal" data-target="#modal" class="text-white" href="{% url 'index' %}g/{{post.topic}}/{{post.id}}/delete"><i class="my-auto fa fa-trash" aria-hidden="true"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--<a href="{% url 'index' %}g/{{post.topic}}/{{post.id}}" class="text-secondary">-->
                                    <a href="{{post.url}}" target="_blank" class="text-secondary">
                                        <img class="w-100 mw-100 mh-100" src="{{post.metaimage}}"/>
                                    </a>
                                    {% else %} <!-- Else text post -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="gt-post-link px-4 pt-4 align-middle">
                                                <a class="graytale-link" href="{{post | validate_post_url}}" target="{{post | validate_post_external}}">{{post.title}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="px-4 my-4 gt-post-text">
                                                {{post.text | linebreaks}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="px-4 pb-4">
                                                Submitted by <a class="graytale-link" href="{% url 'index' %}user/{{post.user}}">{{post.user}}</a> to <a class="graytale-link post-topic" href="{% url 'index' %}g/{{post.topic}}">{{post.topic}}</a>
                                                <div class="float-right">
                                                    <a class="{% if post_notification %}text-danger{% else %}text-white{% endif %}" href="{% url 'index' %}g/{{post.topic}}/{{post.id}}/"><i class="fas fa-comments"></i></i></a>
                                                    {% if post.user == user %}
                                                    <a class="text-white" href="{% url 'index' %}g/{{post.topic}}/{{post.id}}/edit"><i class="my-auto far fa-edit"></i></a>
                                                    <a data-toggle="modal" data-target="#modal" class="text-white" href="{% url 'index' %}g/{{post.topic}}/{{post.id}}/delete"><i class="my-auto fa fa-trash" aria-hidden="true"></i></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4 p-0" id="chat-log">
                        <div id="chat-log-window" class="chat-log-wrapper">
                            <div id="chat-log-div">
                            {% for msg in chat_history %}
                                <div class="chat-line row">
                                    <div class="col-md-12">
                                        <a class="profile-link text-white" href="{% url 'index' %}user/{{msg.user}}">
                                            {% if msg.user.profile.profile_picture %}
                                            <img class="profile-icon" src="{{msg.user.profile.profile_picture.url}}"/>
                                            {% else %}
                                            <i class="fas fa-user profile-icon text-white"></i>
                                            {% endif %}
                                        </a>
                                        <a class="graytale-link msg-user" href="{% url 'index' %}user/{{msg.user}}">{{msg.user}}</a><span class="msg-sep px-1">:</span><span class="msg-text">{{msg.message_text | urlize}}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="chat-input-wrapper">
                                <div class="row">
                                    {% if user.is_authenticated %}
                                    <input id="chat-message-input" class="form-control col-md-12" type="text" placeholder="Press 'Enter' to send a message"/>
                                    <!--<input class="col-md-1 btn btn-primary col-md-3" id="chat-message-submit" type="button" value="Send"/>-->
                                    {% else %}
                                    <input id="chat-message-input" class="form-control col-md-12" type="text" size="2000" placeholder="Please log in to join the chat." disabled/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}

{% block js %}
{% include "chat/chatbox-connection.html" %}
{% endblock js %}