{% extends "chat/base.html" %}
{% load static %}
{% load timetags %}

{% block site_head %}
    <script src="{% static 'js/user-page.js' %}"></script>
{% endblock site_head %}

{% block content %}

<div class="col-md-12" id="content">
    <div class="row">
        {% include "chat/navbar.html" %}
    </div>
    <div class="container">
        <h1 class="display-4 pb-4">{{profile.username}}'s user profile</h1>
        <hr>
    
        <div class="row" id="user-profile-wrapper">
            <div class="col-md-3" id="user-info">
                <div id="profile-pic-wrapper" class="w-100 px-2 mb-5">
                    {% if profile.profile.profile_picture %}
                    <img class="w-100" src="{{profile.profile.profile_picture.url}}"/>
                    {% else %}
                    <i class="fa fa-user fa-5x w-100"></i>
                    {% endif %}
                </div>
                {% if profile == user %}
                <form id="profile-pic-form" class="form-group" action="/user/{{profile}}/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="btn-file">
                        <span class="btn btn-primary">Change Profile Picture</span>
                        <input id="id_image" name="image" type="file" accept="image/*" style="display: none;">
                    </label>
                </form>
                {% endif %}
                
                <h5 class="font-weight-normal">User Info</h5>
                <hr>
                <div class="font-weight-normal">Joined {{profile.date_joined|date:"M d, Y"}}</div>
            </div>
            <div class="col-md-5" id="msg-history">
                <h5 class="font-weight-normal">Message History</h5>
                <hr>
                <div id="user-message-wrapper">
                    {% for message in messages %}
                    <div class="user-message">
                        <div class="font-italic font-weight-light">{{message.datetime | print_timestamp}}</div>
                        <div class="font-weight-normal">{{message}}</div>
                    </div>
                    {% endfor %}
                    <div class="row mt-3">
                        <div class="col-md-2">
                            {% if message_page > 1 %}
                            <a class="graytale-link" href="{% url 'index' %}user/{{profile}}/{{message_page|add:'-1'}}/{{post_page}}">Prev</a>
                            {% else %}
                            <div class="text-muted">Prev</div>
                            {% endif %}
                        </div>
                        {% for i in message_range %}
                            {% if i > 0 %}
                            <div class="col-md-1">
                                <a class="graytale-link" href="{% url 'index' %}user/{{profile}}/{{i}}/{{post_page}}">{{i}}</a>
                            </div>
                            {% else %}
                            <div class="col-md-1"></div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-md-2">
                            {% if message_page < num_msg_pages %}
                            <a class="graytale-link" href="{% url 'index' %}user/{{profile}}/{{message_page|add:'1'}}/{{post_page}}">Next</a>
                            {% else %}
                            <div class="text-muted">Next</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4" id="user-info">
                <h5 class="font-weight-normal">Post History</h5>
                <hr>
                {% for post in posts %}
                <div class="user-post">
                    <div class="font-italic font-weight-light">{{post.datetime | print_timestamp}}</div>
                    <a href="{% url 'index' %}g/{{post.topic}}/{{post.id}}">{{post.title}}</a>
                </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col-md-2">
                        {% if post_page > 1 %}
                        <a class="graytale-link" href="{% url 'index' %}user/{{profile}}/{{message_page}}/{{post_page|add:'-1'}}">Prev</a>
                        {% else %}
                        <div class="text-muted">Prev</div>
                        {% endif %}
                    </div>
                    {% for i in post_range %}
                        {% if i > 0 %}
                        <div class="col-md-1">
                            <a class="graytale-link" href="{% url 'index' %}user/{{profile}}/{{message_page}}/{{i}}">{{i}}</a>
                        </div>
                        {% else %}
                        <div class="col-md-1"></div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-2">
                        {% if post_page >= num_pst_pages %}
                        <div class="text-muted">Next</div>
                        {% else %}
                        <a class="graytale-link" href="{{message_page|add:'1'}}">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
{% endblock content %}