html {
    height: 100%;
}

.gt-body {
    overflow: hidden;
}

.chat-line {
    border: 1px solid rgba(120,120,120,0.66);
    border-radius: 4px;
    width: auto;

    margin: 8px 0 8px 16px;
    padding: 8px;
}

.gt-body {
    height: 100%;
}

.posts-text {
    max-height: 70vh !important;
    height: 70vh !important;
}

.posts-wrapper {
    max-height: 70vh !important;
}

.chat-log-wrapper {
    min-height: 90vh;
    overflow-x: hidden !important;
}

.chat-input-wrapper {
    padding: 1vh 2vw 0 2vw;
    min-height: 10vh;
}

.subbed {
    background-color: rgb(200,200,200);
    color: rgb(80,80,80);
    border-color: rgba(255,255,255,0);
}

.subbed:hover {
    background-color: rgb(150,150,150);
    color: rgb(80,80,80);
    border-color: rgba(255,255,255,0);
}

.subbed:active {
    background-color: rgb(175,175,175) !important;
    color: rgb(80,80,80);
    box-shadow: 0 0 0 0.2rem rgba(222,222,222,.5) !important;
}

.subbed:focus {
    background-color: rgb(200,200,200);
    box-shadow: 0 0 0 0.2rem rgba(222,222,222,.5);
}

.subbed:mousedown {
    background-color: rgb(175,175,175);
}

#content {
    padding-left: 72px;
}

#chat-log-div {
    min-height: 100%;
}
/*
#chat-message-input {
    position:relative;
    top:0px;
    height: 4vh;
    width: 90%;
}

#chat-message-submit {
    height: 5vh;
    width: 10%;
}*/

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}