.chat-line {
    width: auto;

    margin: 0px 0 0px 16px;
    padding: 10px 8px 10px 8px;
}

.gt-body {
    height: 100%;
}

.posts-text {
    max-height: 70vh !important;
    height: 70vh !important;
}

.posts-wrapper {
    max-height: 70vh !important;
}

/* Chat box CSS */

.chat-log-wrapper {
    overflow-x: hidden !important;
    overflow-y: scroll;
}

#chat-log-window {
    height: 94.5vh;
    padding-bottom: 12px;
}

.chat-input-wrapper {
    padding: 1vh 2vw 0 2vw;
    /* min-height: 10vh; */
}

.subbed {
    background-color: rgb(200,200,200);
    color: rgb(80,80,80);
    border-color: rgba(255,255,255,0);
}

.subbed:hover {
    background-color: rgb(150,150,150);
    color: rgb(80,80,80);
    border-color: rgba(255,255,255,0);
}

.subbed:active {
    background-color: rgb(175,175,175) !important;
    color: rgb(80,80,80);
    box-shadow: 0 0 0 0.2rem rgba(222,222,222,.5) !important;
}

.subbed:focus {
    background-color: rgb(200,200,200);
    box-shadow: 0 0 0 0.2rem rgba(222,222,222,.5);
}

.subbed:mousedown {
    background-color: rgb(175,175,175);
}

#chat-log-div {
    min-height: 100%;
}

#chat-log-div .chat-line:nth-child(even) {
    background-color: rgb(75,75,75)
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #2f2f2f; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eee; 
}