html {
    height: 100%;
}

body {
    background-color: rgb(50,50,50) !important;
    color: white !important;
    height: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* Links CSS */

.graytale-link {
    color: rgb(140,180,240) !important;
    text-decoration: none;
    transition: text-shadow 0.2s linear;
}

.graytale-link:hover {
    color: rgb(140,180,240);
    text-decoration: none !important;
    text-shadow: 0 0 0.05em rgb(165,200,245), 0 0 0.025em rgb(165,200,245);
    transition: text-shadow 0.1s linear;
}

.graytale-link.post-topic {
    color: rgb(175,210,255);
}

/* Page CSS */

.graytale-form-wrapper {
    border-left: 2px solid white;
}

.graytale-card {
    background-color: rgba(245,245,245,0.2) !important;
}

.grid-item-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 72px;

    opacity: 0;
    background-color: rgba(50,50,50,0.6);
    transition: all 0.1s linear;
}

.grid-item-overlay.top {
    top: 0;
}

.grid-item-overlay.bottom {
    bottom: 0;
}

.grid-item-overlay.show {
    opacity: 1;
}

.grid-item {
    width: 33%;
}

.grid-item img {
    border-radius: 8px;
}

.grid-item.text-post .grid-item-content-wrapper{
    min-height: 240px;
}

.grid-item-content-wrapper {
    border-radius: 8px;
    background-color: rgba(245,245,245,0.2);
    display: flex;
    align-items: center;
}

.user-message {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

/* id-specific CSS */
#graytale-navbar {
    background-color: rgb(15,15,15);
    height: 5.5vh;
}

#content {
    padding-left: 72px;
}

#posts-window {
    height: 94.5vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #2f2f2f; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eee; 
}